*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'DM Sans', sans-serif;
}

/* GENERAL */
/* GENERAL */
/* GENERAL */

button{
    background-color: #5227CC;
    border: none;
    border-radius: 50px;
    color: white;
    padding: 0px 2em;
}
button:hover{
    cursor: pointer;
    box-shadow: 1px 1px 3px rgb(128, 128, 128);
}

/* NAV */
/* NAV */
/* NAV */

nav{
    /* background-color: gray; */
    height: 4em;
    padding: 1em 7em;
    /* FLEX */
    display: flex;
    justify-content: space-between;
}
nav img{
    height: 1.8em;
}
nav div{
    position: relative;
    top: 0.4em;
    right: 15em;
}
nav a{
    font-size: 0.8em;
    font-weight: 900;
    padding: 0px 2.6em 0px 2.6em;
    color: black;
    text-decoration: none;
}

/* HEADER */
/* HEADER */
/* HEADER */

header{
    height: 57vh;
    background-image: url(../Materiales/manos.jpg);
    background-size: cover;
    color: white;
    text-shadow: 1px 1px 1px black;
    text-align: center;
    /* FLEX */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header h1{
    font-size: 3em;
    margin: 0.6em;
}
header p {
    font-size: 1.2em;
    max-width: 40em;
}

/* MAIN SECTION UNO*/
/* MAIN SECTION UNO*/
/* MAIN SECTION UNO*/

.first_main_section{
    color: white;
    background-color: #5298FF;
    padding: 5em 7em;
    /* GRID */
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "g1 g2"
    "g3 g4";
    grid-gap: 0px 1em;
}
.first_main_section img{
    width: 100%;
    height: 15em;
    object-fit: cover;
}

.first_main_section div{
    padding: 3em 2em;
}
.first_main_section h2{
    font-size: 2.4em;
    margin-top: -0.5em;
    padding-bottom: 0.7em;
}


.grid_purposes_1{
    grid-area: g1;
}
.grid_purposes_2{
    grid-area: g2;
}
.grid_purposes_3{
    grid-area: g3;
}
.grid_purposes_4{
    grid-area: g4;
}

/* MAIN SECTION DOS */
/* MAIN SECTION DOS */
/* MAIN SECTION DOS */

.second_main_section{
    padding: 5em 7em;
    text-align: center;
    /* FLEX */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.second_main_section h2{
    margin-bottom: 1.5em;
}
.second_main_section .first_p{
    width: 65%;
}

.div_in_section{
    width: 90%;
    margin-top: 1.5em;
    height: 14em;
    /* GRID */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1em;
}
.div_in_section div{
    border-radius: 20px;
    padding: 2em;
    /* FLEX */
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-start;
}
.div_in_section div:hover{
    cursor: pointer;
    box-shadow: 1px 1px 3px rgb(128, 128, 128);
}
.div_in_section p{
    color: white;
    font-size: 2em;
}
.red_square{
background-color: #DC3525;
}
.red_square .icon{
    position: relative;
    bottom: 1.5em;
    left: 1em;
}
.red_square .plus_icon{
    position: relative;
    left: 12em;
    bottom: 7em;
}
.yellow_square{
background-color: #DD9C07;
}
.yellow_square .icon1{
    position: relative;
    bottom: 1.5em;
    left: 1em;
}
.yellow_square .plus_icon{
    position: relative;
    left: 12em;
    bottom: 7em;
}
.green_square{
background-color: #28A745;
}
.green_square .icon1{
    position: relative;
    bottom: 1.5em;
    left: 1em;
}
.green_square .plus_icon{
    position: relative;
    left: 12em;
    bottom: 7em;
}
.blue_square{
    text-align: left;
    background-color: #17A2B8;
}
.blue_square .icon1{
    position: relative;
    left: 1.5em;
    top: 1em;
}
.blue_square .plus_icon{
    position: relative;
    left: 12em;
    bottom: 4.2em;
}
.blue_square p{
    position: relative;
    top: 0.7em;
}
.icon{
    width: 3em;   
}
.icon1{
    width: 5em;
}
.plus_icon{
    width: 1.5em;
}